@font-face {
  font-family: regularFont;
  src: url(./fonts/font.woff);
}

@font-face {
  font-family: boldFont;
  src: url(./fonts/fontBold.woff);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  font-family: regularFont, sans-serif;
  display: flex;
  /* gap:20px; */
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 20px; */
  background: rgb(255,251,206);
  background: linear-gradient(195deg, rgba(255,251,206,1) 0%, rgba(255,253,167,1) 8%, rgb(255, 255, 255) 16%, rgb(255, 253, 230) 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3{
  font-family: boldFont, sans-serif;
}

.bg-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100%; */
  background-repeat: repeat;

  z-index: -1;
  opacity: 10%;
  filter: blur(3px);
}

#calendarTitle {
  display: none !important;
}


