$borderRadius: 20px;

.container{
    h2{
        text-align: center;
        margin-bottom: 50px;
    }

    & > div:first-child{
        // margin: 100px 0;
    }
}

.memberContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 50px;
}

.member {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 280px;
    border-radius: $borderRadius;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-bottom: 40px;

    h3{
        margin-bottom: 20px;
    }

    img {
        
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 25% 70%;
        border-radius: $borderRadius $borderRadius 0 0;
    }
}

.social{
    display: flex;
    position:absolute;
    bottom: 5px;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    padding: 0 20px 5px 20px;

    a{
        margin-top:2px;
        padding: 4px 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
        // background-color: #ccc;
    }
}

.text{
    padding: 20px;
    line-height: 1.4rem;
    p{
        margin-top: 20px;

        &:nth-child(3){
            font-weight: bold;
        }
    }
}

